/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
/**/
/* Medium Devices, Desktops */
/**/
/* Small Devices, Tablets */
/**/
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .content {
    width: 370px;
  }
  h2,
  h1 {
    text-align: center;
  }
  h3 {
    text-align: center;
    color: #38B5FC;
  }
  h4 {
    color: #ffffff;
  }
  li p {
    display: none;
  }
  .columns {
    flex-direction: column;
    margin: 0 auto;
    background-color: #203472;
    position: relative;
  }
  .columns__left {
    max-width: 450px;
  }
  .columns__left .avatar img {
    border-right: none;
    text-align: center;
  }
  .columns__right {
    padding-bottom: 280px;
    color: #ffffff;
  }
  .columns__right a {
    color: #ffffff;
  }
  .columns__right li::before {
    background-color: #ffffff;
  }
  .priority {
    display: none;
  }
  .contacts {
    position: absolute;
    bottom: 40px;
  }
}
/**/
/* Custom, iPhone Retina */
/**/
/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
/**/
/* Extra Small Devices, Phones */
/**/
/* Small Devices, Tablets */
/**/
/* Medium Devices, Desktops */
/**/
/* Large Devices, Wide Screens */
/**/