@import "_vars.scss";

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {}

/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {}

/**/


/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {}

/**/


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

   .content {
      width: 370px;
   }

   h2,
   h1 {
      text-align: center;
   }

   h3 {
      text-align: center;
      color: $color_basic;
   }

   h4 {
      color: $color_white;
   }

   li {
      p {
         display: none;
      }
   }

   .container {}

   .columns {

      flex-direction: column;
      margin: 0 auto;
      background-color: $color_blue;
      position: relative;

      &__left {
         max-width: 450px;

         .avatar {
            img {
               border-right: none;
               text-align: center;
            }
         }
      }

      &__right {

         padding-bottom: 280px;

         color: $color_white;

         a {
            color: $color_white;
         }

         li {

            &::before {
               background-color: $color_white;
            }
         }
      }
   }

   .left {


      &__wrapper {}
   }



   .info {}

   .github {}

   .color {

      &__white {}
   }

   .doctrine {

      &__description {}
   }

   .courses {

      &__description {}
   }

   .certificate {}


   .priority {
      display: none;
   }

   .contacts {

      position: absolute;
      bottom: 30px;

      h3 {
         width: 330px;
      }

      // display: none;

      &__description {}

      &__wrapper {}
   }

   .right {

      &_skills {}

      &_softScils {}

      &_job {}

      &__wrapper {}

      &__about {}
   }

   .rig {}

   .spils {}
}



/**/


/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {}

/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {}

/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {}

/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {}

/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {}

/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {}

/**/